<div ng-controller="ImportCtrl" flex layout="column" style="min-height: 100%;">
  <md-content layout-padding>
    <h1>Importer (WIP)</h1>
  </md-content>

  <md-content layout-padding>
    <md-input-container flex>
      <label>Json</label>
      <textarea ng-model="jsonInput" cols="100" rows="50"></textarea>
    </md-input-container>
  </md-content>

  <md-content layout-padding flex>
    <p>
      Will parse the json into a csv file geocoding the locations.
      You can enter multiple locations with ","
    </p>
    <h3>CSV here <md-button ng-click="parseInput()">Convert to CSV</md-button></h3>
    <p style="white-space: pre;">{{parsedCSV}}</p>
  </md-content>
</div>
