<!-- <div id="OverLay" class="animate-slideDown interactive" ng-click="hideOverlay = true" ng-show="hideOverlay">
  <h1 class="pop-text">
    Welcome to the Pokemon Go Assistant
    <span style="font-size: 12pt; display: block; margin: .5em 0;"></span>
  </h1>
</div> -->
<div class="pikachuLoading" ng-show="loading">
    <img src="images/loading.gif" alt="Loading">
    <h2 class="pop-text" style="text-align: center; color: yellow; text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);">Loading</h2>
</div>

<section layout="row" flex>
   <!-- Left -->
   <md-sidenav
       class="md-sidenav-left"
       md-component-id="left"
       md-disable-backdrop
       md-whiteframe="4">
     <md-content layout-padding ng-controller="PokedexCtrl">
       <!-- content -->
       <md-input-container style="margin: 1em; margin-bottom: 0;">
          <label>Search</label>
          <md-icon class="name">
            <i class="fa fa-times interactive pop-text" ng-click="findFilter = ''" aria-hidden="true"></i>
          </md-icon>
          <input ng-model="findFilter" ng-model-options="{debounce: 80}">
       </md-input-container>


       <ul style="margin: 0;">
         <li class="pokemon pop-text">
           <div flex ng-click="showHelp()">
             <i class="fa fa-question-circle interactive" aria-hidden="true"> <span>How to Use?</span>  </i>
           </div>
         </li>
         <!-- <li style="padding: 1em;">
           <md-slider-container>
             <span>Distance: {{appSettings.distance}}m </span>
             <md-slider flex min="1" max="1000" ng-model="appSettings.distance" ng-change="updateDistance(appSettings.distance)" aria-label="distance">
           </md-slider>
         </li> -->
         <li layout="row" class="pokemon animate-fade">
             <div flex class="pop-text">
               <span class="pokemon-id interactive" ng-click="watchAll()">Show All</span>
             </div>
             <div flex style="max-width: 30px; text-align: right;" ng-click="watchNone()">
               <i class="fa fa-times pop-text interactive" aria-hidden="true"></i>
             </div>
         </li>
        <li layout="row" ng-repeat="pokemon in pokemons | filter: findFilter" class="pokemon animate-fade" ng-class=" {'active' : isWatchingPokemon(pokemon) }">
            <div flex class="pop-text">
              <span class="pokemon-id interactive" ng-click="togglePokemonWatch(pokemon)">{{pokemon.id}}</span>
              <span class="interactive" ng-click="togglePokemonWatch(pokemon)">{{pokemon.name}}</span>
            </div>
            <div flex style="max-width: 50px; text-align: right;" ng-click="togglePokemonWatch(pokemon)">
              <i class="fa fa-eye pop-text interactive" aria-hidden="true"></i>
            </div>
        </li>
        <li class="pokemon">
          <div class="interactive pop-text" ng-click="openLegal()">(<i class="fa fa-gavel" aria-hidden="true"> Legal</i>)</div>
        </li>
       </ul>
     </md-content>
   </md-sidenav>

 </section>

<div style="height: 100vh;">

    <md-button ng-click="toggleLeft()" class="md-raised md-primary" style="height: 50px; font-weight: bold; left: 0; position: fixed; z-index: 10; color: white;">
      <span>Menu ( {{filteredPokemon.length}}/{{surroundingPokemon.length}} <i class="fa fa-eye pop-text interactive" aria-hidden="true"></i> )</span>
    </md-button>

    <div class="full-height" ng-include="'views/map.html'" ng-></div>

    <div class="bottomBar">
        <a class="pop-text" href="mailto:Patrick_lai@hellokitty.com?Subject=Reports" target="_top">
        Reports
        </a>
        /
        <a class="pop-text" href="mailto:Patrick_lai@hellokitty.com?Subject=Suggetions" target="_top">
        Suggetions
        </a>
        /
        <a class="pop-text" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=patrick_lai%40hellokitty%2ecom&lc=AU&no_note=0&currency_code=AUD&bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHosted" target="_blank">
          Donations
        </a>
        to
        <a class="pop-text" href="mailto:Patrick_lai@hellokitty.com?Subject=Pokemon" target="_top">
          Patrick_lai@hellokitty.com
        </a>
    </div>
</div>
