<div class="full-height">
  <ui-gmap-google-map center='map.center' zoom='map.zoom'>
    <ui-gmap-markers
            models='filteredPokemon'
            idKey="'id'"
            coords="'self'"
            icon="'image'"
            events="map.markersEvents"
            >
    </ui-gmap-markers>
    <ui-gmap-window show="map.window.show" coords="map.window.model" options="map.window.options" closeClick="map.window.closeClick()" templateUrl="'views/infowindow.tpl.html'" templateParameter="map.window"></ui-gmap-window>
  </ui-gmap-google-map>
</div>
