<div class="full-height">
  <ui-gmap-google-map center='map.center' zoom='map.zoom'>
    <ui-gmap-markers
            models='filteredPokemon'
            idKey="'id'"
            coords="'self'"
            icon="'image'"
            options="markerOptions"
            >
            <ui-gmap-windows show="show">
                <div>
                  <timer end-time="expiration_time * 1000">{{minutes}}m:{{seconds}}s</timer>
                </div>
            </ui-gmap-windows>
    </ui-gmap-markers>
  </ui-gmap-google-map>
</div>
